<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>

    {% block head %}{% endblock %}
  </head>
  <body
    class="min-h-screen font-sans flex flex-col items-center justify-center p-6 bg-cover bg-center bg-no-repeat bg-fixed duration-500"
    style="background-image: url(/static/img/bg-img-bw-mobile.jpeg)"
  >

    
  {% block body %}{% endblock %}
</html>
